
<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <title>Annaco Investment Management</title>
    <%= stylesheet_link_tag    "application", 'reset', 'grid', 'menu-style','style' %>
    <%= javascript_include_tag  "application","jquery.easing.1.3", "jquery.nivo.slider", 'cufon-yui', 'cufon-replace',  'superfish', 'script', 'jcarousellite_1.0.1', 'easyTooltip', 'FF-cash' %>
    <%= csrf_meta_tags %>
   
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="/assets/html5.js"></script>
        <link rel="stylesheet" href="/assets/ie.css" type="text/css" media="screen">
	<![endif]-->
</head>

<!--==============================header=================================-->
    <header>
    	<div class="bg">
        	<div class="main">
                <div class="container_24">
                	<div class="wrapper">
                    	<div class="grid_24 alpha">
                        	<div class="wrapper border-bot">
                            	<div class="grid_11 alpha">
                                    <h1>
                                         <a class="logo" href="/"><%= image_tag 'logo2.png'%></a>

                                     </h1>
                                </div>
                                <div class="grid_13 omega">
                                	<div class="wrapper">
                                    	<ul class="register-list">
                                            <li class="first">Toll Free: 866.840.7225</li>
                                            <li class="first">&nbsp;&nbsp;406.442.2400</li>
                                            <li class="clear_spacer">Fax: 406.442.1230</li>
                                      </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid_24 alpha omega index">
                    	<nav>
                            <ul class="menu">
                                <%= render :partial => 'nav'%>
                            </ul>
                        </nav>
                    </div>
                    <div class="clear"></div>
                    <div id="slider-wrapper">
                        <div id="slider" class="nivoSlider">
                            <img src="/assets/slider-img1.jpg" alt="" title="#htmlcaption1" />
                            <img src="/assets/slider-img2.jpg" alt="" title="#htmlcaption2" />
                            <img src="/assets/slider-img3.jpg" alt="" title="#htmlcaption3" />
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>     
    </header>

<body>

<section id="content">
  <%= yield %>
</section>

<!--==============================footer=================================-->
    <footer>
        <div class="main">
        	<div class="container_24">
            	<div class="wrapper">
                	<div class="grid_12">
                    	Annaco Investment Management &copy; <%= Time.now.strftime("%Y")%> <br/>
                  </div>
                  
                  
    
                    	<div class='disclaimer'>
                    	  <p>
                        AnnaCo Investment Management, Inc. (AnnaCo) is a state-registered investment adviser located in Helena, Montana. AnnaCo and its representatives are in compliance with the current registration requirements applicable in those states in which AnnaCo maintains clients. AnnaCo may only transact business in those states in which it is registered or qualifies for an exemption or exclusion from registration requirements. For information pertaining to the registration status of AnnaCo, please contact our office or your state’s securities law administrator. Although we may not currently be registered in your state, we may seek registration in your state if warranted.
                        </p>
                      </div>
                
                </div>
            </div>
        </div>
        
    </footer>
	
</body>
</html>

<script type="text/javascript">
	$(window).load(function() {
		$('#slider').nivoSlider({
			effect: 'fade',
			slices: 15,
			boxCols: 8,
			boxRows: 4,
			animSpeed: 500,
			pauseTime: 7000,
			startSlide: 0,
			directionNav: false,
			directionNavHide: false,
			controlNav: false,
			keyboardNav: false,
			pauseOnHover: true,
		});
	});
 </script>